<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Timesheet App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Projects", "GetTlProjects", "Projects", new { area = "" }, null)</li>
                    @if (User.IsInRole("Admin") || User.IsInRole("Team Leader"))
                    {

                        <li>@Html.ActionLink("Employees", "Employees", "Employee", new { area = "" }, null)</li>

                    }
                   
                </ul>
                }
            <ul class="nav navbar-nav navbar-right">
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Project Data <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Project Daily Data", "AdminDataDaily", "Projects")</li>
                            @*<li>@Html.ActionLink("Project Weekly Data", "AdminDataWeekly", "Projects")</li>*@
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Project Monthly Data", "AdminDataMonthly", "Projects")</li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Employees Data<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Employees Daily Data </a></li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Employees Monthly Data", "AdminEmployeeDataMonthly", "Employee")</li>

                        </ul>
                    </li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                }

                @if (Request.IsAuthenticated)
                {
                    @*<li>@HttpContext.Current.User.Identity.Name</li>*@
                    <li>
                        @using (Html.BeginForm("Logout", "Auth", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            <a href="javascript:document.getElementById('logoutForm').submit()" style="color:white">Logout</a>

                        }
                    </li>
                }

            </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top:35px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Timesheet App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/helper")
    @RenderSection("scripts", required: false)


</body>
</html>
